PYHTON BASICS

In [ ]:
a=10
print(type(a))

<class 'int'>

In [ ]:
b=int(input("enter your name"))
b=b+1
print(b)

enter your name1
2

three quotes for multiline string

In [ ]:
a="""eruijevklnvoehuovnenv
vefivnebuiebiubuib
veivneibib"""

build in function

In [ ]:
a="hello,world"
print(a.upper())
print(a.lower())
print(a.strip())
a.replace("h","j")
a.split(",")#tokenization

list

In [ ]:
a=[1,2,3,4,5] #list of int
print(a[1])#can be of different type in same list

2

tuple #unchangable list

In [ ]:
a=(1,2,3,4,5)
a=(1)#not tuple
a=(1,)#it is a tuple comma is must

set#unordered

In [ ]:
a={1,2,3}#not changable follow all characterisitcs of set
# consider duplicate elements as one
#no index of the elements
print(a)

{1, 2, 3}

dictionary!

In [ ]:
dict={1:"komal",2:"manahil",3:"alia"}# two functions for the dict values and keys......
c=dict.values()
for i in c:
  print(i)
#no duplicate key otherwise will overrride this......

komal
manahil
alia

for loop# iterator

In [ ]:
for i in range(10):
 print("i am a boss")

i am a boss
i am a boss
i am a boss
i am a boss
i am a boss
i am a boss
i am a boss
i am a boss
i am a boss
i am a boss

In [ ]:
a="i am a boss"
for x in a:#each character in the x
  print(x)

i

a
m

a

b
o
s
s

function

In [ ]:
def sum(a,b):#parameter
  return a+b
print(sum(1,4))#1 and 4 arguments

5